#projects-index ul.projects .icon-bookmarked-project svg,
#projects-index ul.projects .my-project svg,
#projects-index ul.projects .icon-ai-helper-module svg {
  margin-left: 4px;
}

#projects-index ul.projects div.root .icon-bookmarked-project svg,
#projects-index ul.projects div.root .my-project svg,
#projects-index ul.projects div.root .icon-ai-helper-module svg {
  stroke-width: 2;
  margin-bottom: 10px;
}

#projects-index a.icon-user,
#projects-index a.icon-bookmarked-project,
#projects-index a.icon-ai-helper-module {
  background-image: none;
  padding-left: 0;
}

table.projects td.name .icon-bookmarked-project svg,
table.projects td.name .my-project svg,
table.projects td.name .icon-ai-helper-module svg {
  margin-left: 4px;
}
