<div id="aihelper-interactive-options" class="aihelper-interactive-options" style="display:none">
  <button type="button" class="aihelper-option-btn button" data-value="" tabindex="0" style="display:none"></button>
  <button type="button" class="aihelper-option-btn button" data-value="" tabindex="0" style="display:none"></button>
  <button type="button" class="aihelper-option-btn button" data-value="" tabindex="0" style="display:none"></button>
  <button type="button" class="aihelper-option-btn button" data-value="" tabindex="0" style="display:none"></button>
  <button type="button" class="aihelper-option-btn button" data-value="" tabindex="0" style="display:none"></button>
</div>
