<div id="aihelper-interactive-options" class="aihelper-interactive-options" hidden>
  <button type="button" class="aihelper-option-btn button" data-value="" hidden></button>
  <button type="button" class="aihelper-option-btn button" data-value="" hidden></button>
  <button type="button" class="aihelper-option-btn button" data-value="" hidden></button>
  <button type="button" class="aihelper-option-btn button" data-value="" hidden></button>
  <button type="button" class="aihelper-option-btn button" data-value="" hidden></button>
</div>
